# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
